<body>
    <div>
        <div>
            <div>
                <div>
                    <h1>WELCOME TO ME!</h1>
                    <hr>
                    <span>The Idriys-life is full of wonders... and RidiCulouSssss...ness</span>
                </div>
                <p> I led you on. I'm not that ridiculous. I work a normal administrative job.  I drink beer and whiskey.  Pizza, chinese food, and Thai food are my jam; and when I'm not sleeping I'm daydreaming about it (kidding?).  My life currently consists of groaning at my computer, groaning at my television, groaning at paintings, and groaning at humans.  I'm happily married with 0 children and enjoy long walks on the beach (lakes don't count) without footwear.  I'm terrible at talking about myself sans sarcasm so bear with me.  Maybe you'll even get to watch me grow up!  I hope you at least get a nervous chuckle out of this.</p>
                <p>This blog is about (but not limited to) my experience learning to be a functional programmer.</p>
                <p>Again, bear with me...</p>

            </div>
        </div>
    </div>
</body>
