<body>
    <!-- Post Content -->
    <article>
        <div>
            <div>
                <div>
                    <p>I'm midway through the second week of in-person classes.</p>
                    <p>My brain hurts so good.</p>

                    <h2>Finally... I've seen Rails.</h2>

                    <p>We began last Sunday (November 8, 2015) we sped through a rough intro to HTML and CSS in class. I got the gist of inline vs. block-level elements. I got the gist of nesting elements within eachother or marking elements with classes or ids for the sake of grouping and styling later on... but boy was I bored. Nothing felt like it was really clicking. Why?</p>

                    <p>I realized very quickly that most of my frustration and boredom with anything ever has everything to do with not having a reason. There was no pet project. No real ulitmate goal. I didn't even have real competition. I don't like to design. I like to win!</p>

                    <blockquote>“What does it mean to be the best? It means you have to be better than the number two guy. But what gratification is there in that? He's a loser—that’s why he's number two.”  -Jarod Kintz</blockquote>

                    <p>No, but in all seriousness you can just google most of the HTML or CSS you need so long as you get the syntax and keep a consistent workflow. I'll touch more on design as I get a better hang of it.</p>
                </div>
            </div>
        </div>
    </article>
</body>