<body>
    <!-- Post Content -->
    <article>
        <div class="col-md-2"></div>
        <div class="col-md-8">         
            <div class="jumbotron">
                <p>I've learned to create a basic Rails application with three models. I've also learned many time-consuming mistakes.</p>

                <h2>Terminal Illness:</h2>

                <p>I learn the same lesson at least once daily. I’m in the terminal, opening a file in Sublime from the command line and something unexpected opens up.  What is this? Where am I?! I’ve done it again... I was not where I thought I was in the terminal and have opened some random file.</p>

                <p>This is a blog post about remembering where you're at while in the terminal and how it can effect your progress.</p>

                <p>It may not seem like a big deal and it definitely feels silly to write about it because it is indeed silly. My bootcamp is the point in our Rails instruction that we are creating new apps while updating older ones. This requires a level of coordination that is critical to the learning process. One must be careful not to create a rails app inside another rails app or a git repository inside another git repository for fear of getting lost in the cleanup.</p> 

                <p>Add image of empty terminal window here</p>

                <p>Where am I? You don't know? Well neither do I. Here's a keyboard shortcut to solve that problem.</p>
            </div>
        </div>
        <div class="col-md-2"></div>    
    </article>
</body>

</html>